@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  font-style: normal;
  color: #000000;
  background-color: #f2f2f2;
  margin: 0;
  min-height: 100%;
  display: flex;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

*, *::before, *::after {
  box-sizing: border-box;
}

.body-content-wrapper {
  background-color: #ffffff;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  width: 1200px;
  margin: 0 auto;
}

.main-index {
  flex-grow: 1;
}

/*links styled as buttons - common styles*/
.link-button {
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration-line: none;
  text-align: center;
  background-color: #756157;
  font-size: 16px;
  line-height: 20px;
  border-radius: 4px;
  padding: 8px 0;
}

.link-button:hover,
.link-button:focus {
  background-color: #615048;
}

.link-button:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
}

/*buttons - common styles*/
.button {
  display: inline-block;
  font-family: inherit;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  border: none;
  padding: 8px 0;
  border-radius: 4px;
  cursor: pointer;
}

/*inputs - common styles*/
.input {
  background-color: #f2f2f2;
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  text-align: left;
  color: #000000;
  border: none;
}

.input:hover,
.modal-input:hover  {
  background-color: #e6e6e6;
}

.input:focus,
.modal-input:focus {
  outline: 3px solid #83b3d3;
  background-color: #e6e6e6;
}

.input:active,
.modal-input:active {
  background-color: #e6e6e6;
  opacity: 0.8;
}

.input:disabled,
.input:disabled:hover,
.input:disabled:focus,
.modal-input:disabled,
.modal-input:disabled:hover,
.modal-input:disabled:focus {
  background-color: #e5e5e5;
  color: #ffffff;
  opacity: 0.5;
  pointer-events: none;
  cursor: default;
}

.input::placeholder {
  opacity: 1;
  color: rgba(0, 0, 0, 0.6);
  font-weight: 400;
}

/*navigation*/
.main-nav {
  font-weight: 700;
  padding: 0 70px;
  min-height: 64px;
  display: flex;
  justify-content: space-between;
}

.nav-left-column {
  display: flex;
  column-gap: 31px;
}

.nav-right-column {
  display: flex;
  column-gap: 20px;
  align-items: center;
  margin-left: auto;
}

.main-header-logo {
  width: 138px;
  position: relative;
}

.main-header-logo:hover,
.main-header-logo:focus {
  opacity: 0.6;
}

.main-header-logo:active {
  opacity: 0.3;
}

.main-header-logo img {
  position: absolute;
}

.main-nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.main-nav-list {
  min-width: 340px;
  align-items: center;
}

.user-actions-list {
  min-width: 135px;
  height: 100%;
  justify-content: flex-end;
}

.nav-link {
  font-size: 20px;
  color: #000000;
  text-decoration-line: none;
  text-align: center;
  display: block;
}

.menu-link {
  position: relative;
  line-height: 24px;
  padding: 20px 16px;
}

.menu-link:hover,
.menu-link:focus {
  color: #756157;
}

.menu-link:active {
  color: rgba(117, 97, 87, 0.3);
}

.menu-link-current::after {
  position: absolute;
  left: 16px;
  right: 16px;
  bottom: -1px;
  height: 2px;
  background-color: #756257;
  content: "";
}

.user-actions-link {
  line-height: 20px;
  width: 44px;
  height: 100%;
  display: flex;
  position: relative;
}

.user-actions-link svg {
  margin: auto;
  fill: #000000;
}

.user-actions-link:hover svg,
.user-actions-link:focus svg {
  fill: #756157;
}

.user-actions-link:active svg {
  fill: rgba(117, 97, 87, 0.3);
}

.hotels-count {
  background-color: #7db54f;
  position: absolute;
  left: 20px;
  top: 11px;
  z-index: 1;
  width: 20px;
  height: 20px;
  border-radius: 50px;
  padding: 5px;
  padding-left: 4px;
  font-size: 10px;
  line-height: 10px;
  text-align: center;
  color: #ffffff;
  text-decoration-line: none;
  font-weight: 400;
}

.main-nav .link-button {
  min-width: 160px;
}

/*hero*/
.hero {
  background-color: #598db5;
  background-image: url("../images/backgrounds/background-mask.svg"), url("../images/backgrounds/mountains.jpg");
  background-size: 100% auto, cover;
  background-repeat: no-repeat;
  background-position: left bottom, left top;
  min-height: 485px;
  padding-top: 51px;
  margin-bottom: 69px;
  color: #c2e013;
}

.sedona-welcome {
  display: block;
  margin: 0 auto;
}

/* advantages*/
.advantages {
  text-align: center;
  margin-bottom: 64px;
}

.advantages-header {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0 auto;
  margin-bottom: 25px;
  width: 628px;
}

.advantages-subheader {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  margin-top: 0;
  margin-bottom: 90px;
}

.advantages-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.advantages-list li {
  display: flex;
  min-height: 385px;
  flex-grow: 1;
}

.advantages-with-picture {
  background-color: #82b3d3;
  color: #ffffff;
  width: 100%;
}

.advantages-with-picture .advantages-text-wrapper {
  width: 400px;
  padding-top: 102px;
  padding-left: 85px;
  padding-right: 85px;
  flex-direction: column;
}

.advantages-without-picture .advantages-text-wrapper {
  width: 400px;
  padding-top: 113px;
  padding-left: 83px;
  padding-right: 83px;
  flex-direction: column;
}

.advantages-title {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  font-weight: 700;
  width: min-content;
  margin: 0 auto;
  margin-bottom: 62px;
}

.advantages-with-picture .advantages-description {
  position: relative;
  margin: 0;
  color: #ffffff;
}

.advantages-without-picture .advantages-description {
  position: relative;
  margin: 0;
  color: #333333;
}

.advantages-description::before {
  content: "";
  position: absolute;
  height: 2px;
  left: 85px;
  right: 85px;
  top: -33px;
}

.advantages-with-picture .advantages-description::before {
  background-color: rgba(255, 255, 255, 0.3);
}

.advantages-without-picture .advantages-description::before {
  background-color: rgba(0, 0, 0, 0.3);
}


.advantages-without-picture:nth-child(odd) {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-without-picture:nth-child(even) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-image {
  display: block;
  margin: auto 0;
}

/* services*/
.services {
  text-align: center;
  margin-bottom: 96px;
}

.services-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.services-item {
  width: 400px;
  min-height: 385px;
  padding-top: 81px;
  flex-grow: 1;
}

.services-item:nth-child(1) {
  padding-left: 110px;
  padding-right: 110px;
}

.services-item:nth-child(2) {
  padding-left: 85px;
  padding-right: 85px;
}

.services-item:nth-child(3) {
  padding-left: 95px;
  padding-right: 95px;
}

.services-title {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0 auto;
  margin-bottom: 20px;
  width: 505px;
}

.services-subtitle {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  margin-top: 0;
  margin-bottom: 64px;
}

.services-item:nth-child(odd) {
  background-color: rgba(131, 179, 211, 0.12);
}

.services-name {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 30px;
  padding-top: 103px;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 75px 72px;
}

.services-accommodation {
  background-image: url("../images/icons/services/accommodation.svg");
}

.services-food {
  background-image: url("../images/icons/services/food.svg");
}

.services-souvenirs {
  background-image: url("../images/icons/services/souvenirs.svg");
}

.services-description {
  color: #333333;
  margin: 0;
}

/*hotel search*/
.hotel-search {
  text-align: center;
  margin-bottom: 96px;
}

.hotel-search-title {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 20px;
}

.hotel-search-subtitle {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  margin-top: 0;
  margin-bottom: 54px;

}

.hotel-search-link {
  font-size: 20px;
  line-height: 36px;
  width: 376px;
  display: block;
  margin: 0 auto;
}

/*subscribe*/
.subscribe {
  text-align: center;
  padding-top: 96px;
  padding-bottom: 104px;
}

.subscribe-image {
  color: #ffffff;
  background-color: #4d799e;
  background-image: url("../images/backgrounds/blurred-mountains.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left top;
}

.subscribe-title {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 21px;
}

.subscribe-subtitle {
  color: #333333;
  font-size: 22px;
  line-height: 26px;
  margin: 0 auto;
  margin-bottom: 54px;
  width: 475px;
}

.subscribe-image .subscribe-subtitle {
  color: #ffffff;
}

.subscribe-form {
  display: grid;
  grid-template-columns: 452px min-content;
  justify-content: center;
}

.user-email-input {
  padding: 14px 20px;
  border-radius: 4px 0px 0px 4px;
}

.subscribe-button {
  font-size: 20px;
  line-height: 36px;
  background-color: #82b3d3;
  padding: 8px 50px;
  border-radius: 0px 4px 4px 0px;
}

.subscribe-button:hover,
.subscribe-button:focus {
  background-color: #68a2ca;
}

.subscribe-button:active {
  background-color: #82b3d3;
  color: rgba(255, 255, 255, 0.3);
}

.subscribe-button:disabled,
.subscribe-button:disabled:hover,
.subscribe-button:disabled:focus {
  background-color: #e5e5e5;
  color: #ffffff;
  pointer-events: none;
  cursor: default;
}

/*main footer*/
.main-footer {
  padding: 40px 70px 30px;
  min-height: 120px;
  align-items: center;
  display: grid;
  grid-template-columns: auto 1fr auto;
  column-gap: 42px;
}

.socials-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  min-width: 142px;
  max-width: 238px;
  display: flex;
  flex-wrap: wrap;
}

.socials-link {
  display: flex;
  width: 48px;
  height: 40px;
}

.socials-link svg {
  margin: auto;
  fill: #83b3d3;
}

.socials-link:hover svg,
.socials-link:focus svg  {
  fill: #68a2ca;
}

.socials-link:active svg {
  fill: rgba(104, 162, 202, 0.3);
}

.phone {
  justify-self: center;
}

.phone-link {
  font-style: normal;
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  color: #000000;
  text-decoration-line: none;
  display: table;
}

.phone-link:hover,
.phone-link:focus {
  color: #756157;
}

.phone-link:active {
  color: rgba(117, 97, 87, 0.3);
}

.academy-logo {
  width: 115px;
  height: 33px;
  fill: #000000;
}

.academy-logo:hover,
.academy-logo:focus {
  fill: #756157;
}

.academy-logo:active {
  fill: rgba(117, 97, 87, 0.3);
}

/*-----------------------------catalog page (inner page)-----------------------------*/
.hotel-filter-wrapper {
  width: 1060px;
  margin: 0 auto;
}

/*hotel filter*/
.hotel-filter {
  background-color: #4d799e;
  background-image: url("../images/backgrounds/blurred-mountain.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: #ffffff;
  text-align: left;
  background-position: left top;
  padding-top: 35px;
  padding-bottom: 70px;
}

/*catalog header (inner header)*/
.inner-header-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  margin-top: 0;
  margin-bottom: 8px;
}

/*breadcrumbs*/
.breadcrumbs {
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-decoration-line: none;
}

.breadcrumbs-item {
  margin-right: 28px;
  position: relative;
}

.breadcrumbs-item:last-child {
  margin-right: 0;
}

.breadcrumbs-item::after {
  position: absolute;
  content: "";
  width: 8px;
  height: 21px;
  right: -18px;
  bottom: 0;
  background-image: url("../images/icons/breadcrumbs/divider.svg");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 8px 21px;
}

.breadcrumbs-item:last-child::after {
  content: none;
}

.breadcrumbs-link:hover {
  color: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-link:focus {
  color: #ffffff;
}

.breadcrumbs-link:active {
  color: rgba(255, 255, 255, 0.3);
}

.breadcrumbs-link.breadcrumbs-link-current {
  color: #ffffff;
  outline: none;
  pointer-events: none;
}

.breadcrumbs-link-home {
  display: block;
  width: 13px;
  height: 21px;
  background-size: 13px 15px;
  background-position: left center;
  background-repeat: no-repeat;
}

.breadcrumbs-link-home svg {
  fill: #ffffff;
}

.breadcrumbs-link-home:hover svg {
  fill: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-link-home:focus svg {
  fill: #ffffff;
}

.breadcrumbs-link-home:active svg {
  fill: rgba(255, 255, 255, 0.3);
}

/*filters*/
.hotel-filter-form {
  display: flex;
  justify-content: space-between;
}

.hotel-filter-form ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.hotel-filter-form li {
  margin-bottom: 16px;
  max-width: 100%;
}

.hotel-filter-form li:last-child {
  margin-bottom: 0;
}

.infrastructure-filter-group,
.accommodation-filter-group {
  min-width: 151px;
  max-width: 220px;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  color: #ffffff;
  margin-top: 0;
  margin-bottom: 32px;
}

.fieldset-reset {
  margin: 0;
  padding: 0;
  border: none;
}

.filters-left-column {
  min-width: 371px;
  max-width: 440px;
  display: flex;
  justify-content: space-between;
}

.filter-label {
  display: flex;
  align-items: center;
  gap: 16px;
  cursor: pointer;
  line-height: 23px;
  color: #ffffff;
  overflow-wrap: break-word;
  max-width: 100%;
}

.checkbox-mark {
  width: 20px;
  height: 20px;
  background: #ffffff;
  border-radius: 4px;
  position: relative;
}

.radio-mark {
  width: 20px;
  height: 20px;
  background: #ffffff;
  border-radius: 50%;
  position: relative;
}

.filter-input-checkbox:checked + .filter-label .checkbox-mark::before {
  background-image: url("../images/icons/filters/checkbox-checked.svg");
  background-position: center;
  width: 13px;
  height: 11px;
  background-repeat: no-repeat;
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.filter-input-radio:checked + .filter-label .radio-mark::before {
  background-color: #3f5e72;
  background-position: center;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-repeat: no-repeat;
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.filter-label:hover .checkbox-mark,
.filter-label:hover .radio-mark {
  background-color: rgba(255, 255, 255, 0.6);
}

.filter-label:hover .checkbox-label-text,
.filter-label:hover .radio-label-text {
  color: rgba(255, 255, 255, 0.6);
}

.filter-label:focus .checkbox-mark,
.filter-label:focus .radio-mark {
  background-color: #ffffff;
  border: 3px solid #83b3d3;
}

.filter-label:focus .checkbox-label-text,
.filter-label:focus .radio-label-text {
  color: #ffffff;
}

.filter-label:active .checkbox-mark,
.filter-label:active .radio-mark {
  background-color: rgba(255, 255, 255, 0.3);
}

.filter-label:active .checkbox-label-text,
.filter-label:active .radio-label-text {
  color: rgba(255, 255, 255, 0.3);
}

.filter-input-checkbox:disabled + .filter-label,
.filter-input-radio:disabled + .filter-label {
  pointer-events: none;
  cursor: default;
}

.filter-input-checkbox:disabled + .filter-label .checkbox-mark,
.filter-input-radio:disabled + .filter-label .radio-mark {
  background-color: rgba(255, 255, 255, 0.1);
}

.filter-input-checkbox:disabled + .filter-label .checkbox-label-text,
.filter-input-radio:disabled + .filter-label .radio-label-text {
  color: rgba(255, 255, 255, 0.1);
}

.price-filter-group {
  display: grid;
  column-gap: 70px;
  grid-template-columns: auto 191px;
  grid-template-areas: "catalog-filter-title catalog-filter-title"
                        "range-wrapper buttons-wrapper";
}

.price-filter-group .catalog-filter-title {
  grid-area: catalog-filter-title;
}

.buttons-wrapper {
  grid-area: buttons-wrapper;
  display: grid;
  row-gap: 32px;
}

.apply-button {
  font-size: 16px;
  line-height: 20px;
  background-color: #82b3d3;
  width: 100%;
}

.apply-button:hover,
.apply-button:focus {
  background-color: #68a2ca;
}

.apply-button:active {
  background-color: #82b3d3;
  color: rgba(255, 255, 255, 0.3);
}

.apply-button:disabled,
.apply-button:disabled:hover,
.apply-button:disabled:focus {
  background-color: #e5e5e5;
  color: #ffffff;
  pointer-events: none;
  cursor: default;
}

.reset-button {
  font-size: 16px;
  line-height: 20px;
  background-color: rgba(0, 0, 0, 0);
  width: 100%;
  border-radius: 4px;
  padding: 8px 0;
}

.reset-button:hover {
  opacity: 0.6;
}

.reset-button:focus {
  outline: 3px solid #83b3d3;
}

.reset-button:active {
  color: rgba(255, 255, 255, 0.3);
}

.reset-button:disabled,
.reset-button:disabled:hover,
.reset-button:disabled:focus {
  opacity: 0.1;
  pointer-events: none;
  cursor: default;
}

.range-wrapper {
  grid-area: range-wrapper;
  display: grid;
  column-gap: 2px;
  row-gap: 44px;
  grid-template-rows: 48px auto;
  grid-template-columns: 143px 143px;
  grid-template-areas: "min-price-label max-price-label"
                        "range-scale range-scale";
}

.min-price-label {
  grid-area: min-price-label;
  position: relative;
}

.max-price-label {
  grid-area: max-price-label;
  position: relative;
}

.price-input {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 20px;
  padding-right: 40px;
  width: 100%;
  appearance: textfield;
}

.price-input::-webkit-outer-spin-button,
.price-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.min-price-input {
  border-radius: 4px 0px 0px 4px;
}

.max-price-input {
  border-radius: 0px 4px 4px 0px;
}

.price-label-text {
  position: absolute;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.3);
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  right: 20px;
}

.range-scale {
  grid-area: range-scale;
  width: 100%;
  height: 4px;
  position: relative;
  background-color: rgb(255, 255, 255, 0.3);
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: #ffffff;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.toggle-min {
  top: -8px;
  left: -10px;
}

.toggle-max {
  top: -8px;
  right: -10px;
}

.range-toggle:hover {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
}

.range-toggle:focus {
  outline: 3px solid #83b3d3;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
}

.range-toggle:active {
  outline: 3px solid #83b3d3;
  box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.4);
}

/*search results*/
.search-results {
  text-align: left;
  padding: 50px 70px 60px;
}

.search-top-wrapper {
  display: flex;
  margin-bottom: 40px;
}

.search-results-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  margin-right: auto;
  align-self: center;
}

.search-right-column {
  display: flex;
}

/*sorting the found hotels*/
.search-select {
  appearance: none;
  border: 2px solid #e5e5e5;
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #ffffff;
  width: 292px;
  margin-right: 70px;
  border-radius: 4px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 19px;
  padding-right: 52px;
  cursor: pointer;
  background-image: url("../images/icons/filters/select-arrow.svg");
  background-repeat: no-repeat;
  background-position: right 16px center;
}

.search-select:hover,
.search-select:focus {

  border: 2px solid #68a2ca;
}

.search-select:disabled,
.search-select:disabled:hover,
.search-select:disabled:focus {
  border: 2px solid rgba(0, 0, 0, 0.3);
  color: rgba(0, 0, 0, 0.3);
  pointer-events: none;
  cursor: default;
}

/*view buttons*/
.view-buttons-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 160px;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.view-link {
  display: block;
  width: 48px;
  height: 48px;
  border-radius: 4px;
  border: 2px solid #e5e5e5;
  background-size: 16px 14px;
  background-position: center;
  background-repeat: no-repeat;
}

.view-link:hover {
  border-color: #000000;
}

.view-link:focus {
  outline: none;
  border-color: #68a2ca;
}

.view-link:active {
  border-color: #000000;
}

.view-link-current {
  border: 2px solid #000000;                              
}

.view-link-tile {
  background-image: url("../images/icons/modes/tile-mode.svg");
}

.view-link-card {
  background-image: url("../images/icons/modes/cards-mode.svg");
}

.view-link-list {
  background-image: url("../images/icons/modes/list-mode.svg");
}

/*hotel cards*/
.accommodation-list {
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  list-style-type: none;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
}

.accommodation-card {
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  padding: 20px;
  display: grid;
  column-gap: 20px;
  row-gap: 16px;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "accommodation-link accommodation-link"
                        "accommodation-type accommodation-price"
                        "more-link favourites"
                        "stars rating-value";
}

.accommodation-link {
  color:#000000;
  text-decoration-line: none;
  grid-area: accommodation-link;
}

.accommodation-link:hover,
.accommodation-link:focus {
  color: #756157;
}

.accommodation-link:active {
  color: rgba(117, 97, 87, 0.3);
}

.accommodation-photo {
  display: block;
  margin-bottom: 16px;
  max-width: 100%;
  height: auto;
  object-fit: scale-down;
}

.accommodation-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: left;
  margin: 0;
}

.accommodation-type {
  grid-area: accommodation-type;
  color: #333333;
  margin: 0;
}

.accommodation-price {
  grid-area: accommodation-price;
  text-align: right;
  color: #333333;
  margin: 0;
}

.more-link {
  grid-area: more-link;
}

.favourites {
  grid-area: favourites;
}

.add-to-favourites {
  background-color: #82b3d3;
}

.add-to-favourites:hover,
.add-to-favourites:focus {
  background-color: #68a2ca;
}

.add-to-favourites:active {
  background-color: #82b3d3;
  color: rgba(255, 255, 255, 0.3);
}

.remove-from-favourites {
  background-color: #7db54f;
}

.remove-from-favourites:hover,
.remove-from-favourites:focus {
  background-color: #6c9e42;
}

.remove-from-favourites:active {
  background-color: #7db54f;
  color: rgba(255, 255, 255, 0.3);
}

.stars {
  grid-area: stars;
  min-height: 36px;
  margin: 0;
}

.star {
  display: inline;
  background-size: 18px 17px;
  background-repeat: no-repeat;
}

.stars-4 {
  background-image: 
  url("../images/icons/star.svg"),
  url("../images/icons/star.svg"),
  url("../images/icons/star.svg"),
  url("../images/icons/star.svg");
  background-position: 0 center, 24px center, 48px center, 72px center;
}

.stars-3 {
  background-image: 
  url("../images/icons/star.svg"),
  url("../images/icons/star.svg"),
  url("../images/icons/star.svg");
  background-position: 0 center, 24px center, 48px center;
}

.stars-2 {
  background-image: 
  url("../images/icons/star.svg"),
  url("../images/icons/star.svg");
  background-position: 0 center, 24px center;
}

.rating-value {
  background-color: #f2f2f2;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #333333;
  text-align: center;
  grid-area: rating-value;
  border-radius: 4px;
  padding: 8px 0;
}

/*pagination*/
.pagination {
  text-align: center;
  margin: 0;
  padding: 0;
  padding-top: 40px;
  border-top: 1px solid #e6e6e6;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.pagination-link {
  background-color: #82b3d3;
  font-size: 20px;
  line-height: 36px;
  display: flex;
  min-width: 60px;
  min-height: 60px;
  justify-content: center;
  align-items: center;
}

.pagination-link:hover,
.pagination-link:focus {
  background-color: #68a2ca;
}

.pagination-link:active {
  background-color: #82b3d3;
  color: rgba(255, 255, 255, 0.3);
}

.pagination-link-current {
  background-color: #f2f2f2;
  color: #000000;
  outline: none;
  pointer-events: none;
}

.pagination-ellipsis {
  font-size: 22px;
  line-height: 26px;
  display: flex;
  min-width: 60px;
  min-height: 60px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}

/*----------------------------modal--------------------------------*/

.modal-overlay {
  background-color: rgba(242, 242, 242, 0.8);
  position: fixed;
  display: flex;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
}

.modal-close {
  display: none;
}

.hotel-search-modal {
  background-color: #ffffff;
  text-align: left;
  box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
  width: 717px;
  position: relative;
  padding: 64px 70px;
  margin: auto;
}

.modal-close-button {
  position: absolute;
  right: 54px;
  top: 65px;
  width: 52px;
  height: 52px;
  background-color: #f2f2f2;
  border: none;
  border-radius: 50%;
  z-index: 1;
  cursor: pointer;
}

.modal-close-button svg,
.modal-close-button:hover svg,
.modal-close-button:focus svg {
  fill: #000000;
}

.modal-close-button:active svg {
  fill: rgba(0, 0, 0, 0.3);
}

.modal-close-button:hover {
  background-color: #e6e6e6;
}

.modal-close-button:focus {
  background-color: #e6e6e6;
  outline: 3px solid #83b3d3;   
}

.modal-close-button:active {
  background-color: #e6e6e6; 
}

.modal-heading {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 64px;
  padding-right: 50px;
  overflow-wrap: break-word;
}

/*form for searching*/
.modal-label {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  padding-top: 12px;
  overflow-wrap: break-word;
}

.check-date {
  font-size: 16px;
  padding-left: 20px;
}

.modal-hotel-search {
  display: grid;
  grid-template-areas: "check-in-label check-in"
                       ". wrong-date"
                       "check-out-label check-out"
                       ". right-date"
                       "adults-label count-right-column"
                       ". ."
                       "modal-submit-button modal-submit-button";
  grid-template-columns: 137px 440px;
  grid-template-rows: repeat(5, auto) 48px auto;
}

.check-in-label {
  grid-area: check-in-label;
}

.check-in {
  grid-area: check-in;
}

.wrong-date {
  grid-area: wrong-date;
  color: #ff5757;
  padding-top: 4px;
  min-height: 48px;
  overflow-wrap: break-word;
}

.check-out-label {
  grid-area: check-out-label;
}

.check-out {
  grid-area: check-out;
}

.right-date {
  grid-area: right-date;
  color: #333333;
  padding-top: 4px;
  min-height: 48px;
  overflow-wrap: break-word;
}

.adults-label {
  grid-area: adults-label;
}

.modal-submit-button {
  grid-area: modal-submit-button;
}

/*inputs of the form*/
.modal-input {
  background-color: #f2f2f2;
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  color: #000000;
  min-height: 48px;
  border: none;
}

.modal-input::placeholder {
  opacity: 1;
  color: rgba(0, 0, 0, 0.6);
  font-weight: 700;
}

.modal-input-date {
  padding-top: 10px;
  padding-bottom: 8px;
  padding-left: 20px;
  padding-right: 50px;
  border-radius: 4px;
  line-height: 24px;
  background-image: url("../images/icons/modal/calendar.svg");
  background-repeat: no-repeat;
  background-position: right 17px center;
}

.count-right-column {
  grid-area: count-right-column;
  display: flex;
}

.input-count-wrapper {
  display: flex;
  margin-right: auto;
}

.input-count-wrapper:last-child {
  margin-right: 0;
}

.modal-input-count {
  line-height: 20px;
  text-align: center;
  padding: 14px 7px;
  width: 31px;
}

.minus-button,
.plus-button {
  background-color: #f2f2f2;
  border: none;
  width: 40px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.minus-button {
  border-radius: 4px 0px 0px 4px;
}

.plus-button {
  border-radius: 0px 4px 4px 0px;
}

.minus-button svg,
.plus-button svg {
  fill: rgba(117, 97, 87, 0.3);
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.minus-button:focus,
.plus-button:focus {
  outline: 3px solid #82b3d3;
  border-radius: 4px;
}

.minus-button:hover svg,
.plus-button:hover svg,
.minus-button:focus svg,
.plus-button:focus svg {
  fill: #000000;
}

.minus-button:active svg,
.plus-button:active svg {
  fill: #000000;
  fill-opacity: 0.2;
}

.minus-button:disabled,
.minus-button:disabled:hover,
.minus-button:disabled:focus,
.plus-button:disabled,
.plus-button:disabled:hover,
.plus-button:disabled:focus {
  background-color: #e5e5e5;
  pointer-events: none;
  cursor: default;
  opacity: 0.4;
}

.minus-button:disabled svg,
.minus-button:disabled:hover svg,
.minus-button:disabled:focus svg,
.plus-button:disabled svg,
.plus-button:disabled:hover svg,
.plus-button:disabled:focus svg {
  fill: #ffffff;
}

.children-label {
  margin-right: 11px;
  max-width: 50px;
  overflow-wrap: break-word;
}

.modal-submit-button {
  font-size: 20px;
  line-height: 24px;
  background-color: #83b3d3;
  border-radius: 10px;
  padding: 18px 0;
}

.modal-submit-button:hover,
.modal-submit-button:focus {
  background-color: #68a2ca;
}

.modal-submit-button:active {
  background: #68a2ca;
  color: rgba(255, 255, 255, 0.3);
}

.modal-submit-button:disabled,
.modal-submit-button:disabled:hover,
.modal-submit-button:disabled:focus {
  background-color: #e5e5e5;
  color: #ffffff;
  pointer-events: none;
  cursor: default;
}

/*tooltip*/

.form-label {
  margin-right: 46px;
  display: flex;
}

.tooltip {
  width: 26px;
  height: 26px;
  align-self: center;
  position: relative;
}

.tooltip-toggle {
  border: none;
  background-color: transparent;
  display: block;
  margin: 0;
  padding: 0;
}

.tooltip-icon {
  fill: #83b3d3;
  display: block;
  width: 100%;
  height: 100%;
}

.tooltip-toggle:hover .tooltip-icon,
.tooltip-toggle:focus .tooltip-icon {
  fill: #68a2ca;
}

.tooltip-text {
  background-color: #333333;
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  padding: 20px 18px 23px 22px;
  border-radius: 10px;
  width: 256px;
  position: absolute;
  z-index: 1;
  overflow-wrap: break-word;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
  bottom: -158px;
  right: -115px;
  display: none;
}

.tooltip-text::after {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 9px solid transparent;
  border-bottom: 9px solid #333333;
  top: -9px;
  right: 119px;
}

.tooltip-toggle:hover + .tooltip-text,
.tooltip-toggle:focus + .tooltip-text {
  display: block;
}