@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  font-style: normal;
  color: #000000;
  background-color: #f2f2f2;
  margin: 0;
  min-height: 100%;
  display: flex;
}

.body-content-wrapper {
  background-color: #ffffff;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  width: 1200px;
  margin: 0 auto;
}

.main-index {
  flex-grow: 1;
}

/*navigation*/
.main-nav {
  font-weight: 700;
}

.main-nav-wrapper {
  width: 1060px;
  margin: 0 auto;
  display: flex;
}

.main-nav li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-header-logo {
  width: 138px;
  margin-right: 30px;
}

.main-nav-list {
  width: 465px;
  margin-right: auto;
}

.user-actions-list {
  max-width: 132px;
  margin-right: 20px;
}

.main-nav-link {
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  text-decoration-line: none;
  text-align: center;
}

.hotels-count {
  background-color: #7db54f;
  font-size: 10px;
  line-height: 10px;
  text-align: center;
  color: #ffffff;
  text-decoration-line: none;
  font-weight: 400;
}

/*links styled as buttons*/
.link-button {
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration-line: none;
  text-align: center;
  background-color: #756157;
  font-size: 16px;
  line-height: 20px;
}

.main-nav .link-button {
  width: 160px;
}

.accommodation-card .link-button {
  width: 140px;
}

.hotel-search .hotel-search-link {
  font-size: 20px;
  line-height: 36px;
  width: 376px;
  display: block;
  margin: 0 auto;
}

.accommodation-card .add-to-favourites {
  background-color: #82b3d3;
}

.accommodation-card .remove-from-favourites {
  background-color: #7db54f;
}

.pagination-link {
  background-color: #82b3d3;
  font-size: 20px;
  line-height: 36px;
  display: block;
  width: 60px;
}

.pagination-link-current {
  background-color: #f2f2f2;
  color: #000000;
  font-size: 20px;
  line-height: 36px;
  display: block;
  width: 60px;
}

/*buttons*/
.button {
  font-family: inherit;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  border: none;
}

.subscribe-button  {
  font-size: 20px;
  line-height: 36px;
  background-color: #82b3d3;
  width: 232px;
}

.apply-button {
  font-size: 16px;
  line-height: 20px;
  background-color: #82b3d3;
  width: 100%;
}

.reset-button {
  font-size: 16px;
  line-height: 20px;
  background-color: rgba(0, 0, 0, 0);
  width: 100%;
}

/*hero*/
.hero {
  background-color: #bed3e3;
  background-image: url("../images/backgrounds/background-mask.svg"), url("../images/backgrounds/mountains.jpg");
  background-size: 100% auto, cover;
  background-repeat: no-repeat;
  background-position: left bottom, left top;
}

.sedona-welcome {
  display: block;
  margin: 0 auto;
}

/* advantages*/
.advantages {
  text-align: center;
}

.advantages-header {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  font-weight: 700;
}

.advantages-subheader {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}

.advantages-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.advantages-picture {
  display: flex;
}

.advantages-image:nth-child(2) {
  order: -1;
}

.advantages-text,
.advantages-wrapper {
  width: 400px;
}

.advantages-title {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  font-weight: 700;
}

.advantages-picture {
  background-color: #82b3d3;
  color: #ffffff;
}

.advantages-text .advantages-description {
  color: #333333;
}

.advantages-text:nth-child(odd) {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-text:nth-child(even) {
  background-color: rgba(131, 179, 211, 0.12);
}

/* services*/
.services {
  text-align: center;
}

.services-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.services-item {
  width: 400px;
}

.services-title {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  font-weight: 700;
}

.services-subtitle {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}

.services-item:nth-child(odd) {
  background-color: rgba(131, 179, 211, 0.12);
}

.services-name {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  font-weight: 700;
}

.services-description {
  color: #333333;
}

/*hotel search*/
.hotel-search {
  text-align: center;
}

.hotel-search-title {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  font-weight: 700;
}

.hotel-search-subtitle {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}

/*subscribe*/
.subscribe {
  text-align: center;
}

.subscribe-image {
  color: #ffffff;
  background-color: #4d799e;
  background-image: url("../images/backgrounds/blurred-mountains.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left top;
}

.subscribe-title {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  font-weight: 700;
}

.subscribe-subtitle {
  color: #333333;
  font-size: 22px;
  line-height: 26px;
}

.subscribe-image .subscribe-subtitle {
  color: #ffffff;
}

.input {
  border: none;
  background-color: #f2f2f2;
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  text-align: left;
  color: #000000;
}

.subscribe .input {
  width: 452px;
}

.input::placeholder {
  opacity: 1;
  color: rgba(0, 0, 0, 0.6);
  font-weight: 400;
}

/*main footer*/
.main-footer-wrapper {
  width: 1060px;
  margin: 0 auto;
  display:  flex;
}

.socials-list {
  margin: 0;
  margin-right: auto;
  padding: 0;
  list-style: none;
  min-width: 142px;
  max-width: 238px;
  display: flex;
  flex-wrap: wrap;
}

.phone {
  font-style: normal;
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  color: #000000;
  text-decoration-line: none;
  display: table;
}

.main-footer .academy-logo {
  width: 115px;
  margin-left: 236px;
}

/*-----------------------------catalog page (inner page)-----------------------------*/
.hotel-filter-wrapper {
  width: 1060px;
  margin: 0 auto;
}

/*hotel filter*/
.hotel-filter {
  background-color: #4d799e;
  background-image: url("../images/backgrounds/blurred-mountain.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: #ffffff;
  text-align: left;
  background-position: left top;
}

/*catalog header (inner header)*/
.inner-header-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}

/*breadcrumbs*/
.breadcrumbs {
  margin: 0;
  padding: 0;
  list-style: none;
}

.breadcrumbs-link {
  font-size: 16px;
  color: #ffffff;
  text-decoration-line: none;
}

/*filters*/
.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  color: #ffffff;
}

.hotel-filter-form {
  display: flex;
  justify-content: space-between;
}

.filters-left-column,
.filters-right-column {
  display: flex;
}

.hotel-filter-form ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.fieldset-reset {
  margin: 0;
  padding: 0;
  border: none;
}

.infrastructure-filter-group {
  min-width: 151px;
  max-width: 165px;
  margin-right: 70px;
}

.accommodation-filter-group {
  min-width: 151px;
  max-width: 165px;
}

.price-filter-group {
  width: 288px;
  margin-right: 70px;
}

.filter-label {
  line-height: 23px;
  color: #ffffff;
}

.price-label {
  text-align: right;
  color: #a9a9a9;
}

.buttons-wrapper {
  flex-direction: column;
  width: 191px;
}

/*search results*/
.search-results {
  text-align: left;
}

.search-results-wrapper {
  width: 1060px;
  margin: 0 auto;
}

.search-top-wrapper {
  display: flex;
}

.search-results-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin-right: auto;
}

/*sorting the found hotels*/
.search-select {
  border: 2px solid #e5e5e5;
  font-family: inherit;
  font-size: 18px;
  color: #333333;
  background-color: #ffffff;
  width: 292px;
  margin-right: 70px;
}

/*view buttons*/
.view-buttons {
  margin: 0;
  padding: 0;
  list-style: none;
  min-width: 160px;
  max-width: 216px;
}

.view-buttons .view-link-active {
  border: 2px solid #000000;
}

.view-buttons .view-link {
  border: 2px solid #e5e5e5;
}

/*hotel cards*/
.accommodation-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.accommodation-card {
  border: 1px solid #e6e6e6;
  width: 340px;
  box-sizing: border-box;
}

.accommodation-link {
  color:#000000;
  text-decoration-line: none;
}

.accommodation-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: left;
}

.hotel-info-wrapper {
  color: #333333;
}

.accommodation-price {
  text-align: right;
}

.hotel-links-wrapper,
.hotel-rating-wrapper {
  width: 300px;
  display: flex;
  justify-content: space-between;
}

.stars {
  width: 140px;
}

.rating-value {
  background-color: #f2f2f2;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #333333;
  text-align: center;
  width: 140px;
}

/*pagination*/
.pagination {
  text-align: center;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 8px;
}

.pagination-ellipsis {
  font-size: 22px;
  line-height: 26px;
  display: block;
  width: 60px;
  
}

