@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  font-style: normal;
  color: #000000;
  background-color: #f2f2f2;
  margin: 0;
  min-height: 100%;
  display: flex;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

*, *::before, *::after {
  box-sizing: border-box;
}

.body-content-wrapper {
  background-color: #ffffff;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  width: 1200px;
  margin: 0 auto;
}

.main-index {
  flex-grow: 1;
}

/*links styled as buttons - common styles*/
.link-button {
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration-line: none;
  text-align: center;
  background-color: #756157;
  font-size: 16px;
  line-height: 20px;
  border-radius: 4px;
  padding: 8px 0;
}

/*buttons - common styles*/
.button {
  font-family: inherit;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  border: none;
  padding: 8px 0;
  border-radius: 4px;
}

/*inputs - common styles*/
.input {
  border: none;
  background-color: #f2f2f2;
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  text-align: left;
  color: #000000;
}

.input::placeholder {
  opacity: 1;
  color: rgba(0, 0, 0, 0.6);
  font-weight: 400;
}

/*navigation*/
.main-nav {
  font-weight: 700;
  padding: 0 70px;
  min-height: 64px;
  display: flex;
  justify-content: space-between;
}

.nav-left-column {
  display: flex;
  column-gap: 46px;
}

.nav-right-column {
  display: flex;
  column-gap: 20px;
  align-items: center;
  margin-left: auto;
}

.main-header-logo {
  width: 138px;
  position: relative;
}

.main-header-logo img {
  position: absolute;
  z-index: 1;
}

.main-nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.main-nav-list {
  min-width: 340px;
  align-items: center;
}

.user-actions-list {
  min-width: 135px;
  height: 100%;
  justify-content: flex-end;
}

.nav-link {
  font-size: 20px;
  color: #000000;
  text-decoration-line: none;
  text-align: center;
  display: block;
}

.menu-link {
  line-height: 24px;
  padding: 20px 16px;
}

.user-actions-link {
  line-height: 20px;
  width: 44px;
  height: 100%;
}

.hotels-count {
  background-color: #7db54f;
  font-size: 10px;
  line-height: 10px;
  text-align: center;
  color: #ffffff;
  text-decoration-line: none;
  font-weight: 400;
}

.main-nav .link-button {
  min-width: 160px;
}

/*hero*/
.hero {
  background-color: #bed3e3;
  background-image: url("../images/backgrounds/background-mask.svg"), url("../images/backgrounds/mountains.jpg");
  background-size: 100% auto, cover;
  background-repeat: no-repeat;
  background-position: left bottom, left top;
  min-height: 485px;
  padding-top: 51px;
  margin-bottom: 69px;
}

.sedona-welcome {
  display: block;
  margin: 0 auto;
}

/* advantages*/
.advantages {
  text-align: center;
  margin-bottom: 64px;
}

.advantages-header {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0 auto;
  margin-bottom: 25px;
}

.advantages-subheader {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  margin-top: 0;
  margin-bottom: 90px;
}

.advantages-image {
  margin: auto 0;
}

.advantages-title {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  font-weight: 700;
  width: 180px;
  margin: 0 auto;
  margin-bottom: 62px;
}

.advantages-picture-item .advantages-description {
  margin: 0;
  color: #ffffff;
}

.advantages-text-item .advantages-description {
  margin: 0;
  color: #333333;
}

.advantages-text-item:nth-child(odd) {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-text-item:nth-child(even) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-picture-item {
  background-color: #82b3d3;
  color: #ffffff;
  width: 1200px;
}

.advantages-text-item {
  min-width: 400px;
}

.advantages-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.advantages-list li {
  display: flex;
  min-height: 385px;
  flex-grow: 1;
}

.advantages-picture-item .advantages-text-wrapper {
  width: 230px;
  padding: 102px 85px;
  box-sizing: content-box;
}

.advantages-text-item .advantages-text-wrapper {
  width: 230px;
  padding: 112px 85px;
  box-sizing: content-box;
}

/* services*/
.services {
  text-align: center;
  margin-bottom: 96px;
}

.services-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.services-item {
  min-width: 400px;
  min-height: 385px;
  padding: 81px 85px;
  flex-grow: 1;
}

.services-text-wrapper {
  width: 230px;
}

.services-title {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 20px;
}

.services-subtitle {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  margin-top: 0;
  margin-bottom: 64px;
}

.services-item:nth-child(odd) {
  background-color: rgba(131, 179, 211, 0.12);
}

.services-name {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 30px;
}

.services-description {
  color: #333333;
  margin: 0;
}

/*hotel search*/
.hotel-search {
  text-align: center;
  margin-bottom: 96px;
}

.hotel-search-title {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 20px;
}

.hotel-search-subtitle {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  margin-top: 0;
  margin-bottom: 54px;
}

.hotel-search-link {
  font-size: 20px;
  line-height: 36px;
  width: 376px;
  display: block;
  margin: 0 auto;
}

/*subscribe*/
.subscribe {
  text-align: center;
  padding-top: 96px;
  padding-bottom: 104px;
}

.subscribe-image {
  color: #ffffff;
  background-color: #4d799e;
  background-image: url("../images/backgrounds/blurred-mountains.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left top;
}

.subscribe-title {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 20px;
}

.subscribe-subtitle {
  color: #333333;
  font-size: 22px;
  line-height: 26px;
  margin-top: 0;
  margin-bottom: 54px;
}

.subscribe-image .subscribe-subtitle {
  color: #ffffff;
}

.subscribe-form {
  display: flex;
  justify-content: center;
}

.subscribe-button  {
  font-size: 20px;
  line-height: 36px;
  background-color: #82b3d3;
  width: 232px;
  border-radius: 0px 4px 4px 0px;
}

.subscribe .user-email-input {
  width: 452px;
  padding: 14px 20px;
  border-radius: 4px 0px 0px 4px;
}

/*main footer*/
.main-footer {
  padding: 40px 70px 30px;
  display:  flex;
  min-height: 120px;
  align-items: center;
}

.socials-list {
  margin: 0;
  margin-right: auto;
  padding: 0;
  list-style-type: none;
  min-width: 142px;
  max-width: 238px;
  display: flex;
  flex-wrap: wrap;
}

.phone {
  font-style: normal;
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  color: #000000;
  text-decoration-line: none;
  display: table;
}

.main-footer .academy-logo {
  width: 115px;
  margin-left: 236px;
}

/*-----------------------------catalog page (inner page)-----------------------------*/
.hotel-filter-wrapper {
  width: 1060px;
  margin: 0 auto;
}

/*hotel filter*/
.hotel-filter {
  background-color: #4d799e;
  background-image: url("../images/backgrounds/blurred-mountain.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: #ffffff;
  text-align: left;
  background-position: left top;
  padding-top: 35px;
  padding-bottom: 70px;
}

/*catalog header (inner header)*/
.inner-header-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  margin-top: 0;
  margin-bottom: 8px;
}

/*breadcrumbs*/
.breadcrumbs {
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.breadcrumbs-link {
  font-size: 16px;
  color: #ffffff;
  text-decoration-line: none;
}

/*filters*/
.hotel-filter-form {
  display: flex;
  justify-content: space-between;
}

.filters-left-column {
  min-width: 371px;
  display: flex;
  justify-content: space-between;
}

.filters-right-column {
  display: flex;
  justify-content: space-between;
}

.hotel-filter-form ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.hotel-filter-form li {
  margin-bottom: 16px;
}

.hotel-filter-form li:last-child {
  margin-bottom: 0;
}

.fieldset-reset {
  margin: 0;
  padding: 0;
  border: none;
}

.infrastructure-filter-group,
.accommodation-filter-group {
  min-width: 151px;
}

.price-filter-group {
  display: grid;
  column-gap: 70px;
  grid-template-columns: 288px 191px;
  grid-template-areas: "catalog-filter-title catalog-filter-title"
                        "price-input-wrapper buttons-wrapper";
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  color: #ffffff;
  margin-top: 0;
  margin-bottom: 32px;
}

.price-filter-group .catalog-filter-title {
  grid-area: catalog-filter-title;
}

.price-input-wrapper {
  grid-area: price-input-wrapper;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.buttons-wrapper {
  display: grid;
  grid-area: buttons-wrapper;
  row-gap: 32px;
}

.filter-label {
  line-height: 23px;
  color: #ffffff;
}

.hotel-filter-form .input {
  width: 143px;
  padding: 12px 20px;
  margin-bottom: 36px;
}

.hotel-filter-form .min-price-input {
  border-radius: 4px 0px 0px 4px;
}

.hotel-filter-form .max-price-input {
  border-radius: 0px 4px 4px 0px;
}

.price-input-range {
  width: 100%;
  margin: 0;
}

.apply-button {
  font-size: 16px;
  line-height: 20px;
  background-color: #82b3d3;
  width: 100%;
}

.reset-button {
  font-size: 16px;
  line-height: 20px;
  background-color: rgba(0, 0, 0, 0);
  width: 100%;
}

/*search results*/
.search-results {
  text-align: left;
  padding: 50px 70px 60px;
}

.search-top-wrapper {
  display: flex;
  margin-bottom: 40px;
}

.search-results-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  margin-right: auto;
  align-self: center;
}

.search-right-column {
  display: flex;
}

/*sorting the found hotels*/
.search-select {
  border: 2px solid #e5e5e5;
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #ffffff;
  width: 292px;
  margin-right: 70px;
  border-radius: 4px;
  padding: 10px 14px;
}

/*view buttons*/
.view-buttons-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 160px;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.view-buttons-item {
  width: 48px;
  min-height: 48px;
  border-radius: 4px;
  border: 2px solid #e5e5e5;
}

.view-buttons-current {
  border: 2px solid #000000;
}

/*hotel cards*/
.accommodation-list {
  margin: 0;
  margin-bottom: 80px;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.accommodation-card {
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  width: 340px;
  padding: 20px;
  display: grid;
  row-gap: 16px;
  column-gap: 20px;
  grid-template-columns: repeat(2, 140px);
  grid-template-areas: "accommodation-link accommodation-link"
                        "accommodation-type accommodation-price"
                        "more-link favourites"
                        "stars rating-value";
}

.accommodation-link {
  color:#000000;
  text-decoration-line: none;
  grid-area: accommodation-link;
}

.accommodation-photo {
  display: block;
  margin-bottom: 16px;
}

.accommodation-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: left;
  margin: 0;
}

.accommodation-type {
  grid-area: accommodation-type;
  color: #333333;
  margin: 0;
}

.accommodation-price {
  grid-area: accommodation-price;
  text-align: right;
  color: #333333;
  margin: 0;
}

.more-link {
  grid-area: more-link;
}

.favourites {
  grid-area: favourites;
}

.add-to-favourites {
  background-color: #82b3d3;
}

.remove-from-favourites {
  background-color: #7db54f;
}

.stars {
  grid-area: stars;
  min-height: 36px;
  margin: 0;
}

.rating-value {
  background-color: #f2f2f2;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #333333;
  text-align: center;
  grid-area: rating-value;
  border-radius: 4px;
  padding: 8px 0;
}

/*pagination*/
.pagination {
  text-align: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.pagination-link {
  background-color: #82b3d3;
  font-size: 20px;
  line-height: 36px;
  display: flex;
  min-width: 60px;
  min-height: 60px;
  justify-content: center;
  align-items: center;
}

.pagination-link-current {
  background-color: #f2f2f2;
  color: #000000;
}

.pagination-ellipsis {
  font-size: 22px;
  line-height: 26px;
  display: flex;
  min-width: 60px;
  min-height: 60px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}